@using Microsoft.AspNetCore.Identity
@using VanSpeedLogistics.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="" title="Manage">Olá, @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <!-- Botão de Sair aponta para nosso AccountController -->
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button  type="submit" class="nav-link btn btn-link text-dark">Sair</button>
            </form>
        </li>
    }
    else
    {
        <!-- O LINK DE REGISTRO PODE SER REMOVIDO OU APONTAR PARA UMA TELA FUTURA -->
        <!-- <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">Register</a>
        </li> -->
    
        <li class="nav-item">
            <!-- CORREÇÃO: Aponta para nosso novo AccountController e Action Login -->
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>